<!--Nav bar-->
{% load static %}
<header>
<head>
<link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Italianno&display=swap" rel="stylesheet">
<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
<link rel="stylesheet" href="{%static "style.css"%}" >
<nav>
    <ul>
        <h3>Sophias</h3>
        <li>New Arrivals</li>
        <li>Sale</li>
        <li>Men</li>
        <li>Women</li>
        <li>Kids</li>
    </ul>
    <form>
    <div class = "content">
            <input type="text" name="q" placeholder="Search a product" value="{{ query }}"></input>
            <button type="submit"><box-icon name='search'></box-icon></button>
            <a href="cart"><span><box-icon name='cart'></box-icon></span></a>
            </div>
        </form>
</nav>
    </head>
</header><!--  --> 

<body>

{% block content %}
<div>
</div>
{% endblock content %}
</body>


        <!--Footer-->
        {% block footer %}
<footer>
    <div class="footer">
<section class="about_logo">
    <h3>Sophias</h3>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
        nisi ut aliquip ex ea commodo consequat.</P>
        <br>
        <h4>Subscribe to our mailing list</h4>

        
        <input type="text" placeholder="Subscribe to be on the track"></input>
        <button type="submit">Subscribe</button>
        <p> Sophias &copy 2024-all rights reserved</p>

</section>



<section class="quick_links">
    <h4>Quick Links </h4>
    <ul>
        <li><a href="#">About</a> </li>
        <li><a href="#"> Blog</a> </li>
        <li><a href="#">What people say</a> </li>
        <li><a href="#">Refund Policy</a>  </li>
        <li><a href="#">Affiliates</a>  </li>
        <li><a href="#">Investor Relation</a></li>
        <li><a href="#">Find Our Boutiques</a></li>

    </ul>

</section>


<section>
    <section class="subscribe_socials">
        <h4> Socials </h4>
<ul>
            <li><a href="tel:+254793525583"><box-icon name='phone'></box-icon></a> </li>
            <li> <a href="mailto:geoffreyowuor71@gmail.com"><box-icon name='envelope' ></box-icon></a></li>
            <li><a href="#"><box-icon name='instagram' type='logo' ></box-icon> </a></li>
            <li><a href="#"><box-icon type='logo' name='twitter'></box-icon></a>  </li> 
            <li><a href="#"><box-icon name='facebook' type='logo' ></box-icon></a>  </li>

        </ul>
    </section>
</div>
</footer>
{% endblock footer %}