{% extends "base.html" %}
{% load static %}
<body>
    {% block content %}
<div class="hero-section">

    <div class="content">
    <h2>Hello,welcome to Sophias</h2>
        <p><b> your one stop shop for all your fashion needs</b></p>
    </div>

</div>
<section class="title">
<h3> Testimonials</h3>
<div class="testimonials">

    <div class="customer">
   <center> <img src="{% static '/static/images/alexander-krivitskiy-8gGUMSQQz0E-unsplash.jpg' %}"></center>
    <h4>Lexanda Krivitskiy</h4>
    <p>{% lorem 1 %}
    </div>

    <div class="customer">
        <center><img src="{% static 'static/images/ayo-ogunseinde-6W4F62sN_yI-unsplash (1).jpg'%}"></center>
        <h4>Not PDiddy</h4>
        <p>{% lorem 1 %}
        </div>

        <div class="customer">
           <center> <img src="{% static 'static/images/gabriel-silverio-u3WmDyKGsrY-unsplash.jpg'%}"></center>
            <h4>Rihanna Z</h4>
            <p>{% lorem 1 %}
            </div>

</div>
</section>

{% endblock content %}
</body>